.App {
  text-align: center;
  font-family: "Special Elite", cursive;
  color: rgb(248, 211, 166);
}

.App-background {
  background-image: url("https://images.unsplash.com/photo-1600181982553-ce7d36051c01?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZhttps://images.unsplash.com/photo-1600181982553-ce7d36051c01?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80WFyY2h8NHx8YW50aXF1ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60");
  margin: 20px auto;
  max-width: 500px;
  border-radius: 7px;
}

.App-header {
 padding: 25px;
}

.App footer {
  font-size: 12px;
  color: rgb(245, 161, 59);

}

.App footer a {
  text-decoration: none;
  color:rgb(122, 69, 4);
}

.App footer a:hover {
  text-decoration: underline;
}