.WeatherInfo h1 {
  margin-top: 17px;
  font-size: 35px;
  color: rgb(250, 222, 181);
}

.WeatherInfo .date {
  font-size: 18px;
  color: rgb(250, 222, 181);
}

.WeatherInfo .time {
  font-size: 16px;
  color: rgb(250, 222, 181);
}

.WeatherInfo ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.WeatherInfo .weather-details {
  text-align: center;
  border: 2px solid rgb(112, 68, 2);
  border-radius: 7px;
  box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.9);
  max-width: 280px;
  padding-top: 23px;
  margin: 8px auto;
}

.WeatherInfo .current-temp {
  font-size: 40px;
  position: relative;
  bottom: 5px;
}

.WeatherInfo .temp-units {
  font-size: 23px;
  position: relative;
  bottom: 15px;
}

.WeatherInfo .temp-units a {
  color: rgb(243, 211, 162);
  opacity: 0.6;
  font-size: 20px;
  text-decoration: none;
}

.WeatherInfo .temp-units a:hover {
  text-decoration: underline;
  opacity: 1;
  color: rgb(253, 180, 90);
}

.WeatherInfo .description {
  margin: 0px 0px 18px;
  font-size: 15px;
}

.WeatherInfo .bi-thermometer-half {
  font-size: 17px;
}
